.mailing{
    border: 2px solid;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.contact{
    display: flex;
    justify-content: space-around;
}
#icon{
    color: blue;
}

.email{
    display: flex;
    gap: 40px;
}
.phone-number{
    display: flex;
    gap: 40px;
}
.navigation{
    text-align: center;

}
#moving-image{
    height: 690px;
    width:100%;
    margin-top: 30px;
}
.moving-image{
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 90px;
    margin-top: 40px;
}

.centered_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
     width: 50%;
     
}
#submit_button{
    height: 50px;
    width: 50%;
    color: white;
    background-color: orange;
}
.about-us{
    display: flex;
    gap: 120px;
    padding: 0px 150px;
}
#packages-image{
    height: 450px;
    margin-bottom: 40px;


}

.year{
    display: flex;
    gap: 40px;
}
.ipsum-logos{
    display: flex;
    gap: 0px;
    padding: 0px 100px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.services-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;

}
.services{
    display: flex;
    gap: 200px;
    padding: 0px 200px;
    margin-top: 40px;
    margin-bottom: 80px;


}
.How_we_work{
    display: flex;
    gap: 150px;
    padding: 0px 100px;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 80%;

}
#logo{
    height: 90px;

}
.video{
    text-align: center;
    color: orange;
    position: relative;
}
.play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.verified-company{
    position: relative;
    text-align: center;
    padding: 0px 100px;

    
    

}
.verified{
    /* color: orange; */
    position: absolute;
    top: 20px;
    left: 150px;
    background-color:white;
    width: 40%;

}

.Moving-business{
    display: flex;
    gap: 40px;
    margin-bottom: 40px;

}
#book_online{
    text-align: center;

}
.form{
    display: flex;
    padding: 30px;
    height: 300px;
    color: white;
    
}
#moving_type{
    height: 30px;
}
#from{
    height: 30px;
}
#home_size{
    height: 30px;
}
#to{
    height: 30px;
}
#date{
    height: 30px;
}

.form_labels{
    display: flex;
    gap: 170px;
    background-color: blue;
    width: 100%;
    padding: 20px 80px;
}
.form_left{
    background-color: orange;
    width: 40%;
    padding: 20px 0px 20px 150px; 

}
.testimonials{
    display: flex;
    gap: 150px;
    padding: 70px 250px;

}

#quotes{
    border: 2px solid;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    color: white;
    background-color: blue;

}
#blog_images{
    height: 290px;
    width:90%;
}
.articles{
    display: flex;
    padding: 0px 150px;

}

.blog_left{
   
    color: white;
    position: relative;
    margin-bottom: 90px;
    margin-top: 40px;


}
.text{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: larger;

}

.blog_centre{
   
    color: white;
    position: relative;
    margin-bottom: 90px;
    margin-top: 40px;


}

.blog_right{
   
    color: white;
    position: relative;
    margin-bottom: 90px;
    margin-top: 40px;


}


.headings{
    text-align: center;
}

.discover{
    display: flex;
    gap: 150px;
    padding: 100px 150px;
    background-color: orange;
    font-size: larger;

}

#discover_button{
    height: 70px;
    width: 150%;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;

}
#subscribe_button{
    height: 70px;
    width: 150%;
    padding: 20px;
    text-align: center;
    background-color: orange;
    color: white;

}
#request_button{
    height: 70px;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: orange;
    color: white;

}

.subcribe_form{
    gap: 100px;
    display: flex;
    padding: 0px 40%;
}

#email{
    height: 60px;
    text-align: center;
}


.about{
    display: flex;
    background-color: black;
    color: white;
    gap: 10%;
    padding: 15px 20%;
}

.copyright{
    background-color: black;
    color: white;
    text-align: center;
}
#hr_line{
    background-color: black;
    color: white;
}
h5{
    color: orange;
}
#check{
    background-color:white;
    color: orange;
    height: 70px;
}